@import 'colors';

h4.button
{
  font-size: 0.9em;
  cursor: pointer;
}

div#main
{
  padding-left: 0;
  padding-right: 0;
}

img#map
{
  margin: 0;
}

div.large-body
{
  overflow: hidden;
  position: absolute;
  bottom: 4.1rem;
  width: 100%;

  div.top, div.bottom
  {
    h3
    {
      color: $orange1;
      text-transform: none;
      font-size: 1.5em;
      padding: 1em 0 0 0;
    }
    h4
    {
      text-transform: none;
      font-size: 1.1em;
      margin-bottom: 0;
      padding-bottom: 1em;
      font-weight: 200;
      color: $gray-dark;
    }
    p
    {
      font-size: 0.7em;
      padding: 0.3em 0;
      margin: 0 0.5rem;
    }
    background-color: $gray-bright;
  }

  div.top
  {
    text-align: center;

  }

  div.bottom
  {
    margin-top: 0.3em;
  }
}

div#map
{
  position: relative;
  height: 500px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../gfx/map.png');

  div.node
  {
    -webkit-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    position: absolute;
    background-color: $blue4;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    cursor: pointer;
  }
  div.node.open
  {
    background-color: $orange2;
  }
}