#frontpage_title
{
  letter-spacing: -2px;
  text-transform: none;
  margin-top: 10em;
  margin-bottom: 3em;
}

div#footer
{
  div.lower-footer
  {
    margin-top: 0;
    padding-top: 3em;
    padding-bottom: 8em;
  }
}