
@import url(https://fonts.googleapis.com/css?family=Roboto);

h2, h3, h4, h5 { color:#00a9e5; }
h2 { font-size:1.7em; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
html,body { color:#888; width:100%; margin:0; padding:0; font-family:Helvetica Neue, 'Roboto', Arial, sans-serif; background-color:#f5f5f5; }
html { overflow-y:scroll; -webkit-text-size-adjust:none; }
body { padding-top:30px !important; }
hr { border:0; display:inline-block; height:1px; background-color:#ddd; margin:10px 2% 0 2%; width:96%; }
a { color:#878787; text-decoration:none; }
a:hover { color:#42a2cd; }
strong { color:#555; }

p, ul { font-size:0.9rem; }

.active { font-weight:550; color:#00a9e5; }

.text-grey { color:#888; }
.text-blue { color:#00a9e5; }

.centered { display:block; margin-left:auto; margin-right:auto; }

.vertical-aligned { display:-webkit-box; display:-webkit-flex; display:-moz-box; display:-ms-flexbox; display:flex; -webkit-flex-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; }

.columns { background-color:#fff; }

.mini { font-size:3px; font-weight:900; }

.red { color:red; }
.strong { font-weight:bold; }

.card-container { cursor:pointer; position:relative; margin:0 auto 20px auto; width:210px; height:455px; perspective:1000px; -webkit-perspective:1000px; -moz-perspective:1000px; }
.card-front, .card-back { overflow:hidden; backface-visibility:hidden; -webkit-backface-visibility:hidden; transform-style:preserve-3d; -webkit-transform-style:preserve-3d; -moz-transform-style:preserve-3d; -ms-transform-style:preserve-3d; -o-transform-style:preserve-3d; transition:transform 0.5s ease; -webkit-transition:-webkit-transform 0.5s ease; -moz-transition:-moz-transform 0.5s ease; -ms-transition:-ms-transform 0.5s ease; -o-transition:-o-transform 0.5s ease; position:absolute; border-radius:5px; width:100%; height:100%; }
  .card-front img, .card-back img { display:block; margin:20px auto; border-radius:5px; }
.card-front { text-align:center; background-color:#00a9e4; border-top:2px solid #eee; border-bottom:2px solid #eee; border-left:1px solid #eee; border-right:1px solid #eee; color:#fff; z-index:2; }
  .card-front img:first-child { width:160px; height:160px; }
  .card-front img:last-child { margin-top:-10px; width:40px; height:40px; }
  .card-front h1 { color:#fff; font-size:1.9rem; margin-bottom:20px; }
.card-back { background-color:#fff; z-index:1; border-top:2px solid #00add9; border-bottom:2px solid #00add9; border-left:1px solid #eee; border-right:1px solid #eee; transform:rotateY(-180deg); -webkit-transform:rotateY(-180deg); -moz-transform:rotateY(-180deg); -ms-transform:rotateY(-180deg); -o-transform:rotateY(-180deg); }
  .card-back img { width:100px; height:100px; border:1px solid #eee; margin:10px auto; }
  .card-back h2 { text-align:center; font-size:0.7rem !important; }
  .card-back h2:nth-child(3) { margin:-5px 0 -12px 0; }
  .card-back p { margin:0 10px; font-size:0.7rem !important; text-align:center; line-height:110%; }
  .card-back hr { background-color:#00add9; padding-top:0px; padding-bottom:0px; }

.button, .button-white, .button-blue { position:relative; cursor:default; -user-select:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.button { color:#fff; background-color:#00a9e4; width:150px; margin:10px auto !important; padding:10px 10px; border-radius:3px; text-align:center; }
.button a { color:#fff; }
.button:hover, .button a:hover { background-color:#1f3161; color:#eee !important; }
.button:active { box-shadow:0px 1px 4px #aaa; transform:translate(1px,1px); -webkit-transform:translate(1px,1px); -moz-transform:translate(1px,1px); -ms-transform:translate(1px,1px); }
.button-white { font-weight:bold; padding:10px 20px; margin-top:15px; background-color:#fff; color:#00a9e4; border:1px solid #00a9e4; border-radius:10px; text-align:center; }
.button-blue { min-height:78px; padding:5px 0; margin:5px auto !important; background-color:#00a9e4; color:#fff; border-radius:10px; font-size:0.9rem; cursor:pointer; }
  .button-blue strong { color:#fff; }
  .button-blue img.cross { display:block; margin:0 auto; width:30px; }
  .button-blue .columns { background:none; }
.fade { transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; -ms-transition:opacity 1s; -o-transition:opacity 1s; }
.upscaled { opacity:0; transform:scale(1.2,1.2); -webkit-transform:scale(1.2,1.2); -moz-transform:scale(1.2,1.2); -ms-transform:scale(1.2,1.2); -o-transform:scale(1.2,1.2); transition:transform 1s, opacity 1s; -webkit-transition:opacity 1s -webkit-transform 1s; -moz-transition:opacity 1s -moz-transform 1s; -ms-transition:opacity 1s, -ms-transform 1s; -o-transition:opacity 1s -o-transform 1s; }
.invisible { opacity:0; visibility:visible; /* foundation override */ }
.shadow { box-shadow:2px 3px 3px #aaa; }
.shadow-dark { box-shadow:2px 2px 6px #444; }
.txt-center { text-align:center; }
.underline { text-decoration:underline; }
.unresolved { opacity:0; transition:opacity 0.2s ease; -webkit-transition:opacity 0.2s ease; -moz-transition:opacity 0.2s ease; -ms-transition:opacity 0.2s ease;}

img.social_icon { width:20px; float:right; margin-right:1.2em; opacity:0.6; }

::selection { background-color:#eee; } 

/* Popup */
div.popup-background { display:none; opacity:0; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8); z-index:999; }
  div.popup-background div.popup-body { padding:1%; margin:0 10%; background-color:#fff; border:10px solid #eee; border-radius:10px; position:fixed; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); }
    div.popup-background div.popup-body strong { color:#00a9e5; }
    div.popup-background div.popup-body div.popup-header { font-size:0.6em; }
    div.popup-background div.popup-body div.popup-content { overflow-y:auto; max-height:330px;}    
      div.popup-background div.popup-body div.popup-header img { cursor:pointer; width:25px; opacity:0.2; float:right; margin-bottom:40px; transform:rotate(45deg); -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg);  }      

div#header, div#footer { height:130px; }
div#footer { height:60px; }
div#more { z-index:10; position:relative; background-color:#fff; max-height:0; transition:max-height 0.5s ease; -webkit-transition:max-height 0.5s ease; -moz-transition:max-height 0.5s ease; -ms-transition:max-height 0.5s ease; overflow:hidden; }
div#page-header, div#page-header-blue { margin-bottom:20px; }
div#page-header { background-image:url('../gfx/slide_background_1.png'); }
div#page-header-blue { background-color:#00a9e4;  }
  div#page-header h2, div#page-header-blue h2 { color:#fff; font-size:1.8em; line-height:230%; margin:0; }
div#slideshow { position:relative; height:480px; position:relative; overflow:hidden; margin:0; }
div#slideshow-background-layer-0 { position:absolute; width:100%; height:100%; background-image:url('../gfx/slide_background_1.png'); }
/*div#slideshow-background-layer-1 { position:absolute; width:200%; height:150%; background-image:url('../gfx/slide_background_1.png'); transform:translate3d(-25%,-25%,0); opacity:0.1; transition:transform 120s ease; -webkit-transition:-webkit-transform 120s ease; -moz-transition:-moz-transform 120s ease; -ms-transition:-ms-transform 120s ease; }*/
  div#slideshow img, div#slideshow p { opacity:0; -webkit-user-select:none; }
  div#slideshow img { position:relative; margin:115px auto; width:180px; display:block; }
  div#slideshow p { margin:0; position:absolute; font-size:3em; color:#fff; width:100%; top:30%; text-align:center; }
  div#slideshow strong { color:#fff; }

div#map-container { position:relative; height:500px; margin-top:-20px; background-image:url('../gfx/map.png'); }  
  div#map-container div.tooltip { position:absolute; width:200px; }  
    div#map-container div.tooltip img.node { position:absolute; top:8px; right:-45px; z-index:2; }
    div#map-container div.tooltip div.body { height:100%; display:none; background-color:#00add9; border-radius:3px; z-index:99; position:relative; }              
    div#map-container div.tooltip img.selected { }
    div#map-container div.tooltip img.triangle { width:32px; position:absolute; top:10px; right:-30px; z-index:3; }
    div#map-container div.tooltip img.body-close { cursor:pointer; width:10px; position:absolute; top:5px; right:5px; transform:rotate(45deg); -webkit-transform:rotate(45deg); -ms-transform: rotate(45deg); z-index:3; }
    div#map-container div.tooltip h3, div#map-container div.tooltip h4, div#map-container div.tooltip h5, div#map-container div.tooltip p, div#map-container div.tooltip a, div#map-container div.tooltip strong { color:#fff; text-align:center; }
    div#map-container div.tooltip a:hover { color:#fff; text-decoration:underline; }
    div#map-container div.tooltip h3 { padding-top:10px; }
    div#map-container div.tooltip p { text-align:left; font-size:0.7em; margin-left:10px; }
    
  div#map-container div#oslo { top:110px; left:285px; }
  div#map-container div#stockholm { top:115px; left:360px; }
  div#map-container div#london { top:220px; left:175px; }
  div#map-container div#copenhagen { top:170px; left:305px; }
  div#map-container div#helsinki { top:100px; left:420px; }     
  
div#small-contact-info-container { display:none; height:350px; }  
  div#small-contact-info-container .tooltip { text-align:center; }
  div#small-contact-info-container .tooltip .body { display:none; }

/* SMALL SCREEN */
@media only screen and (max-width:1024px) 
{
  div#map-container { display:none; }
  div#small-contact-info-container { display:block; }
}


img#logo { height:85px; margin:30px 0 0 30px; }
#button-honesty-container, #button-spot-container { /*display:none; opacity:0;*/ }
p#copyright { color:#999; font-size:0.7em; }

/**** NAVIGATION **************************************************************************************/
#nav ul { font-size:1.0em; padding:0; margin:100px 20px 0 0; list-style-type:none; text-align:right; }
#nav ul li { display:inline; }
#nav ul li:after { content:"|"; margin:0 5px 0 8px; }
#nav ul li:last-child:after { content:""; }
#nav-micro { display:none; position:relative; }
#nav-micro ul { list-style-type:none; padding:0; margin:0; }
#nav-micro ul li { text-align:right; padding:10px 20px 10px 10px; width:150px; border-radius:5px; }
#nav-micro ul li:hover { background-color:#f5f5f5; }
#nav-micro img#hamburger { position:relative; opacity:0.3; margin:55px 0 5px 0; width:32px; z-index:100; }
#nav-micro nav#hamburger-menu { position:absolute; right:0; visibility:hidden; z-index:100; background-color:#eee; border-radius:5px; }

img#map { margin:0; }

/* MEDIUM SCREEN */
@media only screen and (max-width:1024px) 
{
  #nav { display:none; }
  #nav-micro { display:inline; }
}

/* SMALL SCREEN */
@media only screen and (max-width:637px) 
{
  #nav { display:none; }
  #nav-micro { display:inline; }
  /*div#content { height:1960px; }*/
}

/******************************************************************************************************/

/**** FLAGS GAME **************************************************************************************/
div#flags-canvas { position:relative; margin:10px auto; border-left: 1px solid #00a9e5; border-right: 1px solid #00a9e5; border-radius:7px; }
div#flags-container { margin-top:10px; margin-bottom:10px; }
p#flags-conclusion { width:440px; margin:0 auto; text-align:center; }
div#flags-description-container { margin-top:10px; }
  div#flags-description-container p { color:#555; }
  div#flags-description-container ul { margin:0; }
    div#flags-description-container ul li { list-style-type:none; margin-bottom:5px; }
div.trigger-zone { position:absolute; overflow:visible; /*box-shadow:2px 2px 4px #ccc;*/ opacity:0; }
div#stopwatch-container { position:relative; width:80px; margin:0 auto; display:block; }
img.flag { width:32px; }
img.btw-flag { position:absolute; width:100%; right:0; top:-3px; }
span.answer-number, span.flag-number { color:#fff; background-color:#00a9e5; padding:1px 5px; border-radius:5px; font-size:0.8em; position:relative; z-index:2; }
.answer-number { margin-left:-25px; margin-right:5px; width:20px; }
span.flag-number { margin-right:-35px; top:5px; }

/* SCALE DOWN THE FLAG CANVAS ON SMALL SCREENS */
@media only screen and (max-width:519px) 
{
  div#flags-container { transform:scale(0.8,0.8); -webkit-transform:scale(0.8,0.8); -ms-transform:scale(0.8,0.8); transform-origin:25% 0%; -webkit-transform-origin:25% 0%; -ms-transform-origin:25% 0%; }
}
@media only screen and (max-width:419px) 
{
  div#flags-container { transform:scale(0.7,0.7); -webkit-transform:scale(0.7,0.7); -ms-transform:scale(0.7,0.7); transform-origin:0% 0%; -webkit-transform-origin:0% 0%; -ms-transform-origin:0% 0%; }
}
@media only screen and (max-width:360px) 
{
  div#flags-container { transform:scale(0.6,0.6); -webkit-transform:scale(0.6,0.6); -ms-transform:scale(0.6,0.6); transform-origin:0% 0%; -webkit-transform-origin:0% 0%; -ms-transform-origin:0% 0%; }
}


/**** HONESTY GAME ************************************************************************************/
#honesty-start-container { text-align:center; }
  #honesty-start-container img { cursor:pointer; margin:10px 2px; opacity:0.7; }
  #honesty-start-container img:hover { opacity:1; }
  #honesty-start-container #start-answer { margin-top:30px; }
#honesty-game-container { visibility:hidden; }
#evilbar-container { width:300px; height:20px; margin:0 auto 40px auto; border:2px solid #bbb; border-radius:10px; overflow:hidden; background:linear-gradient(to bottom, rgba(246,248,249,0.6) 0%,rgba(229,235,238,0.4) 50%,rgba(215,222,227,0.6) 51%,rgba(245,247,249,0.6) 100%); } 
  #evilbar-container #evilbar { width:150px; max-width:300px; height:20px; z-index:-1; background-color:#aaa; transition:width 0.5s; -webkit-transition:width 0.5s; -moz-transition:width 0.5s; -ms-transition:width 0.5s; }
#avatar-container { width:340px; margin:0 auto; }
#angel, #devil { margin:10px 0; transition:transform 1s ease; -webkit-transition:-webkit-transform 1s ease; -moz-transition:transform 1s ease; -o-transition:-webkit-transform 1s ease; }
#devil { float:right; }
#honesty-suggestions-textarea { width:100%; resize:none; }
#honesty-submit-job-function { display:none; }
  #honesty-submit-job-function p { margin-bottom:4px; }
  #honesty-submit-job-function input[type=text] { border-radius: 5px; border:1px solid #00a9e4; padding:0 5px; height:24px; transform:translateY(-1px); -webkit-transform:translateY(-1px); -ms-transform:translateY(-1px); }
#honesty-final-feedback { opacity:0; transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; -ms-transition:opacity 1s; }
  #honesty-final-feedback strong { color:#00a9e5; }
.question { margin:20px 0; overflow:visible; }
  .question img { vertical-align:middle; margin-left:5px; width:30px; opacity:0.7; cursor:pointer; }
  .question img:hover { opacity:1; }
  .question p { display:inline; margin-right:5px; }  
  .question:nth-child(2) { text-align:right; }
  .question:nth-child(3) { text-align:center; }
  .question .alt { border-left:1px solid #ccc; display:inline-block; }
  
/******************************************************************************************************/

/*** BOTH GAMES */
.feedback-box { color:#00a9e5; border:1px solid #00a9e5; border-radius:5px; padding:10px; margin-top:20px; }
  .feedback-box strong { color:#00a9e5; }
