@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@import 'colors';

@font-face {
  font-family: 'texgyreherosregular';
  src: url('/fonts/texgyreheros/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


p, li
{
  color: $blue1;
  font-family: Myriad Pro, "texgyreherosregular", sans-serif;
}

h2, h3, h4, h5
{
  color: $blue2;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Myriad Pro, "texgyreherosregular", sans-serif;
}

html, body
{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Myriad Pro, "texgyreherosregular", sans-serif;
  font-size: 14px;
}

html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

body
{
  background-color: #9e9a9b;
}

hr
{
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

a
{
  color: $gray;
  text-decoration: none;
}

a:hover
{
  color: $blue2;
}

/*
strong
{
  color: #555;
}
*/
ul
{
  margin-left: 0;
  list-style: none;
  li
  {
    text-indent: -0.5em;
    margin-left: 1.5em;
  }
  li:before
  {
    margin: 0 0.5em 0 -1em;
    content: '>>';
    color: $orange1;
    font-weight: bold;
  }
}

.full-width
{
  min-width: 350px;
  max-width: 100%;
}

.columns.full-height
{
  min-height: 50vh;
}

.strong
{
  font-weight: bold;
}

.button
{
  margin: 0.2em 0;
  overflow: hidden;
  position: relative;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #fff;
  background-color: $blue4;
  padding: 1em 1em;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;

  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.button:hover, .button.open
{
  //color: $blue2;
  background-color: $orange1;
}

.button:active
{
  transform: translate(1px,1px); -webkit-transform: translate(1px,1px); -moz-transform: translate(1px,1px); -ms-transform: translate(1px,1px);
}

.fade
{
  transition: opacity 1s;  -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s;
}

.margin-top-3
{
  margin-top: 3rem;
}

.no-height
{
  height: 0;
}

.invisible
{
  opacity: 0;
  visibility: visible; /* foundation override */
}

.underline
{
  text-decoration: underline;
}

.unresolved
{
  opacity: 0;
  transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease;
}

::selection
{
  background-color: #eee;
}

div#header-container
{
  background-color: #fff;
  div#header
  {
    div#language-selector
    {
      z-index:99;
      background: url('../gfx/arrow_down_icon.png') no-repeat;
      -ms-background-position-x: 100%;
      background-position-x: 100%;
      -ms-background-position-y: 5px;
      background-position-y: 5px;
      padding-right: 1.5rem;
      margin-top: 2.5rem;
      border: 0;
      color: $blue3;
      width: 100%;
      font-weight: bold;
      text-align: right;
      cursor: pointer;
      position: relative;

      div#selected-language-options
      {
        top: 1.7em;
        right: 0.9rem;
        width: 10rem;
        padding: 0;
        position: absolute;
        text-align: right;
        background-color: white;
        -webkit-box-shadow: 1px 1px 3px #ccc;
        -moz-box-shadow: 1px 1px 3px #ccc;
        box-shadow: 1px 1px 3px #ccc;

        div.language-option
        {
          padding: 0 0.5rem;
        }
        div.language-option:hover
        {
          background-color: $orange1;
          color: white;
        }
      }
      span#selected-language
      {

      }
      font-size: 0.9em;
    }
    /*
    input
    {
      margin-top: 0.3rem;
      padding: 0 20px 0 5px;
      width: 100%;
      background: url('../gfx/search_icon.png') no-repeat;
      -ms-background-position-x: 98%;
      background-position-x: 98%;
      -ms-background-position-y: 3px;
      background-position-y: 3px;
      border: 1px solid #ccc;
      height: 24px;
      color: $gray;
      outline-color: $orange2;
    }
*/
    padding-top: 3.5rem;

    ul#nav-list
    {
      li
      {
        font-size: 1.2rem;
        font-family: "PT Sans", sans-serif;
      }
    }
  }
}

div#main
{
  z-index: 10;
  min-height: 60vh;
  padding-bottom: 1rem;
  background-color: #fff;
}

div#footer
{
  background-color: #eee;
  div.game-button
  {
    -webkit-box-shadow: 0 2px 2px 2px #ddd;
    -moz-box-shadow: 0 2px 2px 2px #ddd;
    box-shadow: 0 2px 2px 2px #ddd;

    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    
    position: relative;
    overflow: hidden;
    p
    {
      position: absolute;
      top: 0;
      margin: 15% 7%;
      width: 86%;
      color: $blue3;
      font-size: 2rem;
      font-weight: 900;
      line-height: 100%;
    }
  }

  div.game-button:hover
  {
    -webkit-box-shadow: 0 2px 2px 2px #bbb;
    -moz-box-shadow: 0 2px 2px 2px #bbb;
    box-shadow: 0 2px 2px 2px #bbb;
  }

  div.lower-footer
  {
    background-color: #9e9a9b;
    p
    {
      margin-top: 1em;
      font-size: 0.8em;
      color: white;
    }
  }
}

img#logo
{
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  height: 75px;
}

p#copyright
{
  color:#999;
  font-size:0.8em;
}

#game-buttons
{
  //background-color: #eee;

  .columns
  {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

#nav ul
{
  .active
  {
    border-bottom: 4px solid $orange1;
  }

  font-weight: bold;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style-type: none;
  text-align: right;

  li
  {
    text-indent: 0;
    margin-left: 0;
    margin-right: 0;
    display: inline;
  }
  li:before
  {
    margin: 0 0.2em 0 0;
    content: '';
  }
  li:after
  {
    content: "|";
    margin: 0 0 0 0.4em;
  }

  li:last-child:after
  {
    content: "";
    margin-right: 0;
  }
}

#nav-micro
{
  display: none;
  position: relative;

  nav
  {
    padding-left: 1rem;
    -webkit-box-shadow: 1px 1px 3px #888;
    -moz-box-shadow: 1px 1px 3px #888;
    box-shadow: 1px 1px 3px #888;

    ul
    {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li
      {
        padding: 0.3rem;
        width: 220px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  #hamburger
  {
    cursor: pointer;
    position: relative;
    opacity: 0.3;
    margin: 5rem 0 0.5rem 0;
    width: 18px;
    min-width: 18px;
    z-index: 100;
  }

  #hamburger-menu
  {
    position: absolute;
    right: 0;
    visibility: hidden;
    z-index: 100;
    background-color: #eee;
    border-radius: 5px;
  }
}

.blue3-text
{
  color: $blue3;
}

.orange-text
{
  color: $orange1;
}

.red-text
{
  color: red;
}

.white-text
{
  color: white;
}

.small-screen
{
  display: none;
}

.large-screen
{
  display: block;
}

.hide
{
  display: none !important;
}

/* <=MEDIUM SCREEN */
@media only screen and (max-width:1024px)
{
  #nav, #language-selector-container
  {
    display: none;
  }

  #nav-micro
  {
    display: inline;
  }

  .small-screen
  {
    display: block;
  }

  .large-screen
  {
    display: none;
  }
}

// <=SMALL SCREEN
@media only screen and (max-width:639px)
{

}